<div th:fragment="header">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal" style="margin-right: 10px">Vovchuk Maxim 4KI1</h5>
    <nav class="my-2 my-md-0 mr-md-3" style="float: left">
      <a class="btn btn-outline-success" href="http://localhost:8080/address?">Addresses</a>
      <a class="btn btn-outline-primary" href="http://localhost:8080/address/newAddress?">New Address</a>
      <a class="btn btn-outline-success" href="http://localhost:8080/street?">Streets</a>
      <a class="btn btn-outline-primary" href="http://localhost:8080/street/newStreet?">New Street</a>
      <a class="btn btn-outline-success" href="http://localhost:8080/settlement?">Settlements</a>
      <a class="btn btn-outline-primary" href="http://localhost:8080/settlement/newSettlement?"  style="margin-right: 10px">New Settlement</a>
    </nav>
  </div>
</div>